body { 
    max-height: 2560;
    max-width: 1600;
}
#mainDiv {
    white-space: nowrap;
    overflow-x: auto;
    background-color: blue;
    max-height: 1000px;
}

.content {
   
   display: inline-block;
   margin-left: 20px; 
   background-color: blueviolet;
   width: 100%;
   white-space: pre-wrap;
   overflow: hidden;
   
}
#pug {
    border-radius: 40%;
    width: 20%;  
}

.projectSquare {
    width: 50%;
    float: left;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}

#projectDiv {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#resume {
    display: inline;
}