body { 
    height: 0cm;
}
.navbar {
    position: relative;
    float: right;
}
#mainDiv {
    padding-top: 25px;
    position: relative;
    margin: -1%;
    background-color: blue;
    display: inline-block;

}

.content { 
   background-color: blueviolet;
   

}
#pug {
    border-radius: 40%;
    width: 20%;  
}

.projectSquare {
    width: 50%;
    float: left;
    height: 100px;
    border: 1px solid black;
    text-align: center;
}

#projectDiv {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */
}

#resume {
  background-color: red;
}